.projects{
    text-align: center;
    padding-top: 5rem;
    width: 100%;
    height: 99vh;
    background-image: url(../images/project-bg-image.avif);
    background-size: cover;
    /* background-size: 100% 100%; */

}

.projects h2{
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    opacity: 0;
    animation: moveDown 1.6s forwards;
    
}
.projects h3{
    color: #adaeaf;
    font-weight: 400;
    opacity: 0;
    animation: moveUp 1.5s forwards;
    animation-delay: 0.6s;
}

.projects-container{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 1rem 3rem;
    margin-top: 2rem;
    /* background-color: aqua; */
}

.project-card{
    width: 14.5rem;
    height: 16.5rem;
    background-color: aqua;
    animation: zoom 1.5s forwards;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
    cursor: pointer;
}

#spotify-clone{
    background-image: url(../images/spotify-clone-image.png);
    background-size: cover;
}

#profile-card{
    background-image: url(../images/profile-card.png);
    background-size: cover;
}

#city-xplorer{
    background-image: url(../images/city-xplorer-image.png);
    background-size: cover;
}

#python-sql{
    background-image: url(../images/python-sql-image.jpeg);
    background-size: cover;
}

#portfolio{
    background-image: url(../images/portfolio-website-image.png);
    background-size: cover;
}

#simon-says{
    background-image: url(../images/simon-says-image.png);
    background-size: cover;
}

.project-info{
    z-index: 10000;
    /* height: 75%; */
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    text-align: left;
    padding: 2rem 1rem;
    border-radius: 0 0 15px 15px;
    opacity: 0;
}

.project-info h4{
    color: #fff;
    font-weight: 400;
}

.project-info p{
    color: #adaeaf;
    margin-top: 1rem;
}

.project-card:hover .project-info{
    animation: activateText 0.3s forwards;
}

@keyframes activateText{
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        height: 75%;
    }
}