.skills{
    text-align: center;
    padding-top: 5rem;
    background-image: url(../images/skills-bg-image.jpg);
    background-size: cover;
    height: 98vh;
}

.skills #know-about{
    color: #979a9e;
    font-weight: 300;
    animation: moveDown 1.5s;
}

.skills h2{
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    opacity: 0;
    animation: moveUp 1.6s forwards;
    animation-delay: 0.8s;
}

.skills-container{
    width: 48rem;
    height: 32rem;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 1rem 1.6rem;
    margin-top: 2rem;
}

.skills-cards{
    width: 16rem;
    height: 16rem;
    background-color: transparent;
    backdrop-filter: blur(18px);
    padding: 1.5rem;
    text-align: left;
    transition: all 0.6s;
    opacity: 0;
    animation: zoom 1.5s forwards;
    animation-delay: 1.2s;
}

.skills-cards i{
    font-size: 2.5rem;
    color: #cdcdcd;

}

.skills-cards h3{
    color: #fff;
    margin-top: 1.8rem;
    font-weight: 500;
}

.skills-cards p{
    font-size: 0.85rem;
    color: #9a9a9a;
    margin-top: 1rem;
}

.skills-cards:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0);
    transform: scale(1.1);
}
